* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*MAIN*/
a {
	text-decoration: none;
}

h1 {
	color: #426696;
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.8;
}

h2,
p {
	color: #8256BF;
	font-weight: 500;
	opacity: 0.8;
}

h3 {
	color: #426696;
	font-weight: 600;
	opacity: 0.8;
}

main {
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	background: linear-gradient(to right top, #8256BF, #8041BF);
	display: flex;
	align-items: center;
	justify-content: center;
}

.shop {
	background: white;
	min-height: 90vh;
	width: 85%;
	background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.3)
	);
	/* border-radius: 2rem; */
	z-index: 2;
	backdrop-filter: blur(2rem);
	display: flex;
}

/*BACKGROUND CIRCLES*/
.circle1,
.circle2 {
	background: white;
	background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.3)
	);
	height: 20rem;
	width: 20rem;
	position: absolute;
	border-radius: 50%;
}

.circle1 {
	top: 5%;
	right: 15%;
}

.circle2 {
	bottom: 5%;
	left: 10%;
}

/*SHOP INFORMATION*/
div #shopinformation img {
	width: 300px;
}

div #shopinformation h2 {
	margin-top: -25px;
	font-weight: bold;
}

/*NAVIGATION*/
.dashboard {
	max-width: 400px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.3)
	);
	/* border-radius: 2rem; */
}

.nav-button {
	display: flex;
	margin: 2rem 0;
	padding: 1rem 5rem;
	align-items: center;
}

.nav-button h2 {
	padding: 0 2rem;
}

.icon {
	margin-right: -25px;
}

.amountItem-cart {
	margin-left: -25px;
}

.copyright {
	white-space: nowrap;
	background: linear-gradient(to right top, #8256BF, #8041BF);
	border-radius: 2rem;
	color: white;
	padding: 1rem;
	position: relative;
}

.copyright img {
	position: absolute;
	top: -10%;
	right: 10%;
}

.copyright h2 {
	text-align: right;
	color: white;
	font-weight: 300;
}

/* titleandsearch and sort */
.titleandsearch {
	margin-bottom: 10px;
}

.titleandsearch label {
	display: flex;
	justify-content: center;
}
.titleandsearch input {
	background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.3)
	);
	margin-top: 20px;
	border: none;
	width: 300px;
	padding: 0.5rem;
	border-radius: 2rem;
}
.titleandsearch input::placeholder {
	font-family: 'Material Icons';
}

.sorts {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-bottom: 10px;
}

.sorts select {
	background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.3)
	);
	border: none;
	padding: 0.5rem;
	border-radius: 2rem;
	width: 300px;
}


/*PRODUCTS*/
.products {
	margin: 4rem;
	display: flex;
	flex-direction: column;
	/*justify-content: space-evenly;*/
}

.products {
	flex: 2;
}

.card {
	display: flex;
	gap: 10px;
	background: linear-gradient(
			to left top,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.5)
	);
	border-radius: 1rem;
	margin: 2rem 0;
	padding: 2rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.count {
	font-size: 13px;
	text-align: center;
	margin-top: 10px;
	color: green;
}

.buy-info {
	display: flex;
	min-width: 80px;
	flex-direction: column;
	margin-left: auto;
}
div.add-to-cart {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	background: #814bbf;
	color: white;
	text-align: center;
	line-height: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 20px;
}


.card img {
	height: 100px;
	margin-top: 5px;
	width: 100px;
	object-fit: cover;
}

.price {
	margin: 0 auto;
	font-weight: bold;
	color: green;
}
.price-cart {
	margin-left: auto;
	font-weight: bold;
	color: green;
}

/*BUTTON REMOVE ITEM*/
.circle-button {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: bold;
	background: #8256BF;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px !important;
	font-size: 0.75em;
	border-radius: 100%;
	cursor: pointer;
}
.circle-button:hover {
	background: #9a7fc9;
}

.flex-center {
	display: flex;
	justify-content: center;
}

